<div class="content">
  <div class="info">
    <p class="info__headline">Мрії йопта</p>
  </div>
  <div class="sort__buttons">
    <button mat-button (click)="sortData()" [ngClass]="{'sort__button':!dataSort,'active__sort':dataSort}">DATE</button>
    <button mat-button (click)="sortYour()" [ngClass]="{'sort__button':!yourSort,'active__sort':yourSort}">YOUR LIKES
    </button>
    <button mat-button (click)="sortLikes()" [ngClass]="{'sort__button':!likesSort,'active__sort':likesSort}">LIKES
    </button>
  </div>
  <div class="dreams">
    <div class="dream" *ngFor="let dream of dreams">
      <div *ngIf="dream.is_active">
        <div class="dream__header">
          <p class="dream__name">{{dream.title}}</p>
          <p class="dream__price">₴{{dream.price}}</p>
        </div>
        <div class="separator"></div>
        <p class="dream__description">{{dream.description}}</p>
        <div class="separator"></div>
        <div class="dream__header">
          <a class="dream__author" [routerLink]="['/user-profile',dream._id]">{{dream.author_name}}</a>
          <button (click)="like()" [ngClass]="{'button button-like':true, 'liked':liked}">
            <i class="fa fa-heart">❤</i>
            <span>{{dream.number_of_likes}}</span>
            <span>Like</span>
          </button>
        </div>
      </div>
    </div>

    <!--    <div class="dream">-->
    <!--      <div class="dream__header">-->
    <!--        <p class="dream__name">Поїхати в Іспаніш</p>-->
    <!--        <p class="dream__price">$4000</p>-->
    <!--      </div>-->
    <!--      <div class="separator"></div>-->
    <!--      <p class="dream__description">Ми з друзями пздц хочемо побухать в Катмаддолії, ставте лайки підписуйтесь на-->
    <!--        канал</p>-->
    <!--      <div class="separator"></div>-->
    <!--      <div class="dream__header">-->
    <!--        <a class="dream__author" [routerLink]="['/user-profile',1]">Команда БГБ</a>-->
    <!--        <button (click)="like()" [ngClass]="{'button button-like':true, 'liked':liked}">-->
    <!--          <i class="fa fa-heart">❤</i>-->
    <!--          <span>Like</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="dream">-->
    <!--      <div class="dream__header">-->
    <!--        <p class="dream__name">Поїхати в Іспаніш</p>-->
    <!--        <p class="dream__price">$4000</p>-->
    <!--      </div>-->
    <!--      <div class="separator"></div>-->
    <!--      <p class="dream__description">Ми з друзями пздц хочемо побухать в Катмаддолії, ставте лайки підписуйтесь на-->
    <!--        канал</p>-->
    <!--      <div class="separator"></div>-->
    <!--      <div class="dream__header">-->
    <!--        <a class="dream__author" [routerLink]="['/user-profile',1]">Команда БГБ</a>-->
    <!--        <button (click)="like()" [ngClass]="{'button button-like':true, 'liked':liked}">-->
    <!--          <i class="fa fa-heart">❤</i>-->
    <!--          <span>Like</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="dream">-->
    <!--      <div class="dream__header">-->
    <!--        <p class="dream__name">Поїхати в Іспаніш</p>-->
    <!--        <p class="dream__price">$4000</p>-->
    <!--      </div>-->
    <!--      <div class="separator"></div>-->
    <!--      <p class="dream__description">Ми з друзями пздц хочемо побухать в Катмаддолії, ставте лайки підписуйтесь на-->
    <!--        канал</p>-->
    <!--      <div class="separator"></div>-->
    <!--      <div class="dream__header">-->
    <!--        <a class="dream__author" [routerLink]="['/user-profile',1]">Команда БГБ</a>-->
    <!--        <button (click)="like()" [ngClass]="{'button button-like':true, 'liked':liked}">-->
    <!--          <i class="fa fa-heart">❤</i>-->
    <!--          <span>Like</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="dream">-->
    <!--      <div class="dream__header">-->
    <!--        <p class="dream__name">Поїхати в Іспаніш</p>-->
    <!--        <p class="dream__price">$4000</p>-->
    <!--      </div>-->
    <!--      <div class="separator"></div>-->
    <!--      <p class="dream__description">Ми з друзями пздц хочемо побухать в Катмаддолії, ставте лайки підписуйтесь на-->
    <!--        канал</p>-->
    <!--      <div class="separator"></div>-->
    <!--      <div class="dream__header">-->
    <!--        <a class="dream__author" [routerLink]="['/user-profile',1]">Команда БГБ</a>-->
    <!--        <button (click)="like()" [ngClass]="{'button button-like':true, 'liked':liked}">-->
    <!--          <i class="fa fa-heart">❤</i>-->
    <!--          <span>Like</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->

  </div>
</div>
