<div>
  <main>
    <div class="content">
      <form (ngSubmit)="onSubmit()" [formGroup]="sendForm">
        <div class="group__headline">
          <p class="form__headline">Забули пароль?</p>
        </div>
        <mat-form-field class="form__input">
          <input matInput placeholder="Введіть ваш E-mail" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="sendForm.get('email').hasError('email') && !sendForm.get('email').hasError('required')">
            Будь ласка, введіть коректну E-mail адресу
          </mat-error>
          <mat-error *ngIf="sendForm.get('email').hasError('required')">
            E-mail <strong>обов'язковий</strong>
          </mat-error>
        </mat-form-field>
        <div class="form__group">
          <button [disabled]="!sendForm.valid" class="form__button" disabled type="submit"><p *ngIf="!loading">
            ПРОДОВЖИТИ</p><img *ngIf="loading"
                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
